<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create employee page</title>
</head>
<body>

<form name="employee" action="/updateEmployee" method="post">
    <p>Id</p>
    <input title="Name" type="text" name="id" value="${employee.id}">
    <p>Name</p>
    <input title="Name" type="text" name="name">
    <p>Active</p>
    <input title="Active" type="text" name="active">
    <p>Department</p>
    <input title="Department" type="text" name="department">
    <input type="submit" value="OK">
</form>

</body>
</html>